.nav {
  position: fixed;
  width: 100vw;
  height: 0;
  background-color: black;
  border-radius: 100%;
  margin-bottom: 100vh;
  z-index: 2;
}

.active {
  color: rgb(255, 255, 255);
  text-decoration: line-through;
  text-decoration-color: violet;
}

.all_nav {
  width: 100vw;
}

a {
  text-decoration: none;
  width: auto;
  height: auto;
  color: rgb(167, 167, 167);
}

h3 {
  font-size: 5vw;
  margin: 3vh;
  margin-left: 3vw;
  margin-right: 1vw;
  z-index: 40;
  opacity: 0;
  cursor: pointer;
  text-decoration: none;
}

.animated {
  animation: opaciter 0.2s linear;
  animation-fill-mode: forwards;
}

.animated_fA {
  animation: opaciter_fa 0.05s linear;
  animation-fill-mode: forwards;
}

.after_animated {
  animation: none_opaciter 0.05s linear;
  animation-fill-mode: forwards;
}

.after_animated_fA {
  animation: none_opaciter_fa 0.05s linear;
  animation-fill-mode: forwards;
}

.animated:nth-child(3) {
  animation-delay: 0.6s;
}

.f {
  animation-delay: 0.4s;
}
.s {
  animation-delay: 0.5s;
}
.t {
  animation-delay: 0.6s;
}

.text_block {
  position: fixed;
  z-index: 3;
  height: min-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

.for_blocked {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

@keyframes opaciter {
  from {
    opacity: 0;
    margin-left: 20vw;
    z-index: -1;
  }
  to {
    opacity: 1;
    margin-left: 1vw;
    z-index: 40;
  }
}

@keyframes none_opaciter {
  from {
    opacity: 1;
    z-index: 40;
  }
  to {
    opacity: 0;
    margin-bottom: 10vh;
    font-size: 0;
    height: 0;
    width: 0;
  }
}

@keyframes none_opaciter_fa {
  from {
    opacity: 1;
    z-index: 40;
  }
  to {
    opacity: 0;
    margin-bottom: 10vh;
    font-size: 0;
    height: 0;
    width: 0;
  }
}

@keyframes opaciter_fa {
  to {
    height: min-content;
    width: min-content;
  }
}
